$black: #000000;
$white: #ffffff;
$accent: #fac62d;
$accent-hover: #f0b505;
$accent-active: #e1ab08;
$grey-light: #cdc6c1;
$grey-400: #989691;
$grey-40: #f5f4f2;
$grey-100: #e7e4de;
$grey-line: #f0eeeb;
$dark: #383736;
$green: #64b851;
$red: #eb4b51;
$blue: #2794db;
