.button {
  @include button();
  background-color: $accent;
  color: $dark;
  padding: 14px 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;

  &--large {
    padding: 14px 24px;
  }

  &--medium {
    padding: 8px 16px;
  }

  &--small {
    padding: 4px 12px;
  }

  &:hover {
    background-color: $accent-hover;
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: $accent-active;
    transition: background-color 0.1s ease;
  }

  & svg {
    flex-shrink: 0;
  }
}
