.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (max-width: $desktop-large) {
    min-width: 864px;
    padding: 0 28px;
  }

  @media (max-width: $desktop-small) {
    min-width: 712px;
  }

  @media (max-width: $tablet) {
    min-width: 304px;
    padding: 0 8px;
  }
}
